@model Profile

<h1>Edit Profile</h1>

<form method="get" asp-controller="Profile" asp-action="UploadProfilePicture">
	<button type="submit" class="btn btn-primary">Edit profile picture</button>
</form>

<div asp-validation-summary="All" class=text-danger>
	<span></span>
</div>
<form method="post" asp-controller="Profile" asp-action="Edit">
	<input type="hidden" asp-for="Id" />
	<input type="hidden" asp-for="UserId" />
	<div class="form-group row">
		<div class="col-sm-2">
			<label>Name: </label>
		</div>
		<div class="col-sm-4">
			<input asp-for="Name" class="form-control" />
		</div>
	</div>
	<div class="form-group row">
		<div class="col-sm-2">
			<label>Email: </label>
		</div>
			@for (int i = 0; i < Model.Email.Count; i++)
			{
				<div class="col-sm-4">
					<input asp-for="@Model.Email[i]" class="form-control" />
				</div>
			}
	</div>
	<div class="form-group row">
		<div class="col-sm-2">
			<label>Adress: </label>
		</div>
		<div class="col-sm-4">
			<input asp-for="Adress" class="form-control" />
		</div>
	</div>
	<div class="form-group row">
		<div class="col-sm-2">
			<label>Private profile </label>
		</div>
		<div class="col-sm-2 col-sm-4">
			<input type="checkbox" id="private" asp-for="IsPrivate" class="form-check" />
		</div>
	</div>
	<div class="form-group row">
		<div class="offset-2">
			<button type="submit" class="btn btn-primary">Save</button>
		</div>
	</div>
	<div class="form-group row">
		<div class="offset-2">
			<button type="submit" form="cancel" class="btn btn-secondary">Cancel</button>
		</div>
	</div>
</form>


<form id="cancel" method="get" asp-controller="Profile" asp-action="MyProfileView">
</form>