@using Models.Models
@model CreateProjectViewModel

<h2>Add New Project</h2>

<form asp-action="Add" asp-controller="Project" method="post">
    <div class="form-group">
        <label asp-for="Title"></label>
        <input asp-for="Title" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Description"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
    </div>

    <div class="form-group">
       @*  <input asp-action="Add" asp-controller="Project" type="submit" class="btn btn-primary" value="Save Project" /> *@
        <button type="submit" class="btn btn-primary">Save Project</button>

    </div>
</form>

