@model Project 

<form asp-controller="Project" asp-action="Edit" asp-route-id=@Model.Id method="post">
    <input type="hidden" asp-for="Id" />
   

    <table class="table table-light">

        <tr>
            <td>
                <label>Title</label>
                <input asp-for="Title" type="text" />
            </td>
        </tr>
        <tr>
            <td>
                <label>Description</label>
                <input asp-for="Description" type="text" />
            </td>
        </tr>

        <tr>
            <td>
                <input type="submit" value="Update" class="btn-primary" />
            </td>
        </tr>

    </table>
</form>

